.images {
  background: url("https://c.wallhere.com/photos/e6/22/discounts_interest_joy_girl_white_background-617777.jpg!d") ;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat!important;
}