body {
  background: #ffffff;
}
* {
  box-sizing:border-box!important;
}
.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 13%;
  flex-wrap: wrap;
  background: url("./backg.png") no-repeat white;
  background-size: 100% 962px ;
}
/*///hello*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top:34px;
  padding: 0 109px;
}
.logo {
  width: 100px;
  height: 32px;
  background: #C4C4C4;
}
.logoContainer {
  display: flex;
}
.logoText {
  width: 104px;
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #FFFFFF;

}
li {
  list-style-type:none;
}
ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
