.map {
  width: 100%;
  height: 800px;

}
.nullBasket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #c9c9c9;
  color: #282c34;
  border-radius: 7px;
  padding: 20px 0;
  border: 1px solid black;
}