.images {
  background: url("https://www.rubaltic.ru/upload/iblock/98d/98d1aba10297d4fb7ba42777a3780ab1.jpg");
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 400px;
}